.about {
  padding: 80px 104px 0;
  display: flex;
  height: auto;
}

.about__image {
  max-width: 464px;
  max-height: 464px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.about__image-container {
  width: 100%;
  max-width: 464px;
  max-height: 464px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 56px;
}

.about__content-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

.about__content-subtitle {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
  max-width: 100%;
}
