.footer {
  padding: 0 104px;

  font-weight: 400;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 42px;
}

.footer__button {
  font-family: 'Roboto', serif;
  font-size: 18px;
  line-height: 24px;
  color: black;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.footer__links-words {
  display: flex;
  gap: 40px;
}

.footer__links-icons {
  display: flex;
  gap: 24px;
}

.footer__text {
  font-family: 'Roboto', serif;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}
